.header {
  border-bottom: 0.1rem solid #ff6873;
  margin: 0;
  padding: 5% 0;
  height: 7vh;
}

.header__title {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .header {
    border-bottom: 0.2rem solid #ff6873;
  }

  .header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .header {
    border-bottom: 0.3rem solid #ff6873;
  }

  .header__title {
    font-size: 3rem;
  }
}
